@import "variables";

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

.mail-list {
  margin: 0 0;
  font-family: 'Nunito Sans', sans-serif;
}

.mail-list-item {
  height: 80px;
  padding: 10px 20px;
  font-size: 16px;
  width: 100%;
  border-top: 1px solid $mail-list-item-border-color;
  list-style-type: none;
}

.mail-title {
  font-weight: bold;
}