<ul class="mail-list">
    {% for title in ['test', 'test2', 'test3', 'test4'] %}
        <li class="mail-list-item">
            <span class="mail-title">{{ title }}</span>
        </li>
    {% endfor %}
</ul>