{% extends '_base.html' %}

{% block title %}Mailr{% endblock %}

{% block content %}
    <div class="col-md-4" id="message-list">
        {% include 'partials/inbox/message_list.html' %}
    </div>
    <div class="col-md-8" id="message-content">
        {% include 'partials/inbox/message_view.html' %}
    </div>
{% endblock %}