{% extends '_base.html' %}

{% block title %}Login to Mailr{% endblock %}

{% block content %}
    <div class="col-md-4 col-md-offset-4">
        {% if message is defined %}
            <p>{{ message }}</p>
        {% endif %}
        <form method="post">
            <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
            <input type="text" name="username" id="username" class="form-control" placeholder="Username">
            <input type="password" name="password" id="password" class="form-control" placeholder="Password">
            <input type="submit" class="btn btn-success" value="Login">
        </form>
    </div>
{% endblock %}